<ul class="list-group">
  <li class="list-group-item">
    <input type="range" min="4" max="16" step="1" ng-model="ctx.opts.grid">
    <label>{{ctx.opts.grid}} &times; {{ctx.opts.grid}}</label>
  </li>
  <li class="list-group-item">
    <input type="range" min="10" max="100" step="5" ng-model="ctx.opts.percent">
    <label>{{ctx.opts.percent}}%</label>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="p in ctx.list | limitTo:10">
    <label>{{p.id}}</label>
    <img class="post-it-preview" ng-src="{{p.src}}" height="20px">
    <a class="glyphicon glyphicon-trash btn btn-danger" ng-click="ctx.remove($index)"></a>
  </li>
</ul>